# Virtual Environment
venv/
env/
ENV/


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Local settings
.env
local_settings.py

# Static files (если будут)
/static/
/media/

# Logs
*.log

# Celery beat schedule files
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

echo "django_cache/"