{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
    {% if object %}
        Редактирование новости
    {% else %}
        Создание новости
    {% endif %}
{% endblock %}

{% block content %}
    <h2>
        {% if object %}
            Редактирование новости
        {% else %}
            Создание новости
        {% endif %}
    </h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            {% if object %}
                Сохранить
            {% else %}
                Создать
            {% endif %}
        </button>
    </form>
    
    <p><a href="{% url 'news_list' %}">← Назад к списку новостей</a></p>
{% endblock %}